 
 h2{
   
    background-color:#5599DD;
    color: #DDDDDD;
    padding: 5px;

    }

    #conteudo{
    font-family: sans-serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    }

    .exp{
        text-indent: 50px;
    }

   #email{
      text-decoration: underline;
      font-style: italic;
   }

   #header{
      text-align: center;
   }
